.site-container {
  max-width: 66rem; //max-width: 1056px
  margin-left: auto;
  margin-right: auto;
}

.icon-holder {
  color: var(--theme-color-secondary);
}

/* Hero Section */

.hero-wrapper {
  .header {
    background-color: #F7F7F7;
    @media screen and (min-width: 62em) {
      background-color: transparent;
    }
  }
	background-color: #FAFAFA;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center center;
  .navbar {
    .navbar-brand {
      font-size: 1.5rem; //font-size: 24px
      font-weight: 700;
      letter-spacing: 0.1px;
      margin-right: 0;
      color: var(--theme-text-color-headings);
    }
    .navbar-nav {
      margin-top: 5rem; //margin-top: 80px
      margin-bottom: 3.125rem; //margin-bottom: 50px
      align-items: center;
      @media screen and (min-width: 62em) {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 7rem; //margin-left: 112px
        align-items: normal;
      }
      .nav-link {
        font-family: "Montserrat", sans-serif;
        font-size: 1.875rem; //font-size: 30px
        font-weight: normal;
        margin-right: 0;
        margin-bottom: 1.875rem; //margin-bottom: 30px
        color: var(--theme-text-color-body);
        @media screen and (min-width: 62em) {
          font-size: 0.875rem; //font-size: 14px
          font-weight: 600;
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
  .hero-section {
    .hero-content-holder {
      margin-top: 5rem; //margin-top: 80px
      margin-bottom: 5rem; //margin-bottom: 80x
      @media screen and (min-width: 62em) {
        max-width: 32rem; //max-width: 512px
      }
      .home-page-headline {
        font-weight: 700;
        font-size: 2.5rem; //font-size: 40px
        line-height: 3.5625rem; //line-height: 57px
        text-align: center;
        margin-bottom: 2.1875rem; //margin-bottom: 35px
        @media screen and (min-width: 62em) {
          font-weight: 800;
          font-size: 3.625rem; //font-size: 58px
          line-height: 5rem; //line-height: 80px
          text-align: left;
          margin-bottom: 1rem;
        }
      }
      .home-page-intro {
        max-width: 17rem; //max-width: 272px
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.1875rem; //margin-bottom: 35px
        color: var(--theme-text-color-body);
        @media screen and (min-width: 62em) {
          max-width: none;
          margin-left: 0;
        }
      }
    }
    .cta-btns {
      .btn-hero {
        display: block;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5625rem; //margin-bottom: 25px
        padding: 0.625rem 2.25rem; //padding: 10px 36px
        border-radius: 2.3125rem; //border-radius: 37px
        @media screen and (min-width: 62em) {
          display: inline-block;
          max-width: none;
          margin-left: 0;
          margin-right: 0.625rem; //margin-right: 10px
          margin-bottom: 0;
        }
      }
    }
    .item {
      background-color: #FFF;
      padding: 1.5rem; //padding: 24px
      display: flex;
      flex-direction: column;
      margin-bottom: 1.875rem; //margin-bottom: 30px
      max-width: 20.5rem; //max-width: 328px
      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width: 62em) {
        height: 100%;
        margin-bottom: 0;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
      }
      .item-inner {
        .icon-holder {
          margin-bottom: 1rem;
        }
      }
    }
    .item:hover {
      background-color: var(--theme-color-secondary);
    }
    .item:hover h3, .item:hover p, .item:hover .icon-holder {
      color: #FFF;
    }
    @media screen and (min-width: 62em) {
      .items-row {
        position: relative;
        bottom: -20px;
      }
    }
  }
}

/* Why Choose Us Section */

.why-choose-us-section {
  background-color: #FAFAFA;
  padding-top: 6.25rem; //padding-top: 100px
  .section-heading {
    max-width: 17.5rem; //max-width: 280px
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 62em) {
    padding-top: 8.125rem; //padding-top: 130px
    .section-heading {
      max-width: none;
    }
  }
  .section-intro {
    max-width: 18.75rem; //max-width: 300px
    margin-bottom: 3.125rem; //margin-bottom: 50px
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 62em) {
      max-width: 31.875rem; //max-width: 510px
    }
  }
  .item {
    background-color: #FFF;
    padding: 1.5rem; //padding: 24px
    display: flex;
    flex-direction: column;
    max-width: 14.875rem; //max-width: 238px
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem; //margin-bottom: 24px;
    @media screen and (min-width: 62em) {
      height: 100%;
      max-width: none;
      margin: 0;
    }
    .item-inner {
      .icon-holder {
        margin-bottom: 1rem;
      }
    }
  }
}

/* Practice Advice Section */

.practice-advice-section {
  background-color: #FAFAFA;
  padding-top: 5rem; //padding-top: 80px
  padding-bottom: 5rem; //padding-top: 80px
  .section-heading {
    max-width: 11.25rem; //max-width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 62em) {
    .section-heading {
      max-width: none;
    }
  }
  .section-intro {
    max-width: 18.75rem; //max-width: 300px
    margin-bottom: 3.125rem; //margin-bottom: 50px
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 62em) {
      max-width: 31.875rem; //max-width: 510px
    }
  }
  .item {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 14.875rem; //max-width: 238px
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem; //margin-bottom: 24px
    @media screen and (min-width: 62em) {
      height: 100%;
      max-width: none;
      margin: 0;
    }
    .item-inner {
      padding: 1.5rem; //padding: 24px
    }
    .item-img {
      margin-top: auto;
      width: 100%;
    }
  }
}

/* Social Proof Section */

.social-proof-section {
  background-color: #FFF;
  padding-top: 5rem; //padding-top: 80px
  padding-bottom: 5rem; //padding-bottom: 80px
  .section-heading {
    max-width: 19.375rem; //max-width: 310px
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 62em) {
      max-width: 29.375rem; //max-width: 470px
    }
  }
  .section-intro {
    max-width: 18.75rem; //max-width: 300px
    margin-bottom: 3.125rem; //margin-bottom: 50px
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 62em) {
      max-width: 29.375rem; //max-width: 470px;
    }
  }
  .item-figure {
    margin-bottom: 3.25rem; //margin-bottom: 52px;
    @media screen and (min-width: 62em) {
      margin-bottom: 0;
    }
    .img-holder {
      max-width: 37rem; //max-width: 592px
      .image-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
      }
    }
  }
  .item-content {
    .desc {
      margin-bottom: 1.875rem; //margin-bottom: 30px
    }
    .list-item-icon-holder {
      flex-basis: 28px;
      flex-shrink: 0;
    }
    .list-item-content {
      margin-left: 1.25rem; //margin-left: 20px
    }
  }
}

/* Our Clients Sections */

.our-clients-section {
  background-color: #FAFAFA;
  min-height: 21.1875rem; //min-height: 339px
  .bottom-background {
    height: 4.8125rem; //height: 77px
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--theme-text-color-headings);
    z-index: 1;
  }
  > .container {
    z-index: 2;
  }
  .logos-row {
    padding-top: 3rem; //padding-top: 48px
    padding-bottom: 3rem; //padding-bottom: 48px
    margin-bottom: 1.25rem; //margin-bottom: 20px
    .item {
      --bs-gutter-y: 1.5rem;
      @media screen and (min-width: 62em) {
        --bs-gutter-y: 0;
      }
    }
  }
  .newsletter {
    background-color: #16697A;
    max-width: 61.625rem; //max-width: 986px
    padding-top: 1.875rem; //padding-top: 30px
    padding-bottom: 1.875rem; //padding-bottom: 30px
    @media screen and (min-width: 62em) {
      padding-left: 3.125rem; //padding-left: 50px
      padding-right: 3.125rem; //padding-right: 50px
    }
    .newsletter-heading {
      max-width: 16.625rem; //max-width: 266px
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 1.875rem; //padding-bottom: 30px
      text-align: center;
      @media screen and (min-width: 62em) {
        margin-left: 0;
        padding-bottom: 0;
        text-align: left;
      }
    }
    .input-group {
      height: 3.125rem; //height: 50px
      @media screen and (min-width: 62em) {
        height: 100%;
      }
    }
  }
}

/* Get in Touch Section */

.get-in-touch-section {
  background-color: #F3F3F3;
  padding-top: 5rem; //padding-top: 80px
  padding-bottom: 5rem; //padding-bottom: 80px
  .section-heading {
    margin-bottom: 1rem;
  }
  .section-intro {
    max-width: 18.75rem; //max-width: 300px
    margin-bottom: 1.875rem; //margin-bottom: 30px
    @media screen and (min-width: 62em) {
      max-width: 29.375rem; //max-width: 470px
    }
  }
  .row > div {
    &:not(:last-of-type) {
      margin-bottom: 1.875rem; //margin-bottom: 30px
    }
    @media screen and (min-width: 62em) {
      margin-bottom: 0 !important;
    }
  }
  .item.highlight {
    height: 24.5625rem; //height: 393px
    background-color: var(--theme-text-color-headings);
  }
  .item {
    background-color: #FFF;
    height: 20.8125rem; //height: 333px
    .icon-holder {
      margin-bottom: 1rem;
      padding-top: 3.125rem; //padding-top: 50px
    }
    .item-contact-emails {
      margin-bottom: 1rem;
    }
    .item-heading {
      margin-bottom: 1rem;
    }
  }
}

/* CTA Section */

.cta-section {
  background-color: #FAFAFA;
  padding-top: 2.5rem; //padding-top: 40px
  padding-bottom: 2.5rem; //padding-bottom: 40px
  .container {
    max-width: 16.875rem; //max-width: 270px
    @media screen and (min-width: 62em) {
      max-width: none;
    }
  }
}

/* Site Footer */

.site-footer {
  color: #FFF;
  padding-top: 3.125rem; //padding-top: 50px
  padding-bottom: 3.125rem; //padding-bottom: 50px
  background-color: #16697A;
  .container {
    max-width: 15.625rem; //max-width: 250px
    @media screen and (min-width: 62em) {
      max-width: none;
    }
  }
  .col-heading {
    color: #FFF;
    margin-bottom: 1.25rem; //margin-bottom: 20px
  }
  .list-unstyled {
    li {
      margin-bottom: 0.625rem; //margin-bottom: 10px
    }
    a.text-link {
      color: #FFF;
      font-size: 0.875rem; //font-size: 14px
      line-height: 1.5; //line-height: 24px
    }
  }
  .contact-list li {
    font-size: 0.875rem; //font-size: 14px
    svg {
      margin-right: 5px;
      color: #8EC2F2;
    }
  }
}

/* Footer Bottom */

.footer-bottom {
  background-color: #FAFAFA;
  padding-top: 1.25rem; //padding-top: 20px
  padding-bottom: 1.25rem; //padding-bottom: 20px
  .container {
    max-width: 16.875rem; //max-width: 270px
    @media screen and (min-width: 62em) {
      max-width: none;
    }
  }
  .footer-copyrights {
    margin-bottom: 1.875rem; //margin-bottom: 30px
    @media screen and (min-width: 62em) {
      margin-bottom: 0;
    }
  }
  .list-unstyled {
    margin-bottom: 0;
  }
}